.bookcase-wrap
  .bookcase-top.block-center
    .bookcase-header
      .bookcase-title.block-center
        = "#{@user.nickname}さんの本棚"
    .bookcase-lists
      - @bookcase.each do |book|
        .book
          - if book.status == "book_recollection_exist"
            .read-badge.opacity
          = link_to book_path(book) do
            = image_tag book.image.url , alt: '', height: '120', width: '80', class: 'book-img'
            