.side-bar
  .side-bar__main
    %ul.user-menu.block-center
      USER MENU
      = link_to user_path(@user) do
        %li.user-menu__list.mypage-link-btn
          トップ
      = link_to read_log_user_path(@user) do
        %li.user-menu__list.mypage-link-btn
          読書記録
      = link_to bookcase_user_path(@user) do
        %li.user-menu__list.mypage-link-btn
          登録本一覧
      = link_to category_user_path(@user) do
        %li.user-menu__list.mypage-link-btn
          カテゴリー