.side-bar
  .side-bar__main
    %ul.user-menu.block-center
      USER MENU
      %li.user-menu__list.mypage-link-btn
        = link_to "トップ" , user_path(@user), class: "text-decoration-none text-color-white"
      -# %li.user-menu__list.mypage-link-btn
      -#   = link_to "読書記録","#", class: "text-decoration-none text-color-white"
      %li.user-menu__list.mypage-link-btn
        = link_to "登録本一覧", bookcase_user_path(@user) , class: "text-decoration-none text-color-white"
      %li.user-menu__list.mypage-link-btn
        = link_to "カテゴリー", category_user_path(@user), class: "text-decoration-none text-color-white"