a {
  text-decoration: none;
}

.pageTitle {
  text-align: center;
  font-size: 40px;
  padding: 28px;
}

.readed-day {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.wrap-bookshow {
  .main_area {
    width: 730px;
    margin: 0 auto;
    display: flex;
    border:  solid 1px #dcdcdc;
    border-radius: 8px;
    padding: 32px;
    &__image {
      filter: drop-shadow(4px 4px 4px rgba(0,0,0,1));
      margin-right: 40px;
    }
    &__info {
      &__title {
        font-size: 18px;
        margin-bottom: 12px;
      }
      &__author{
        font-size: 14px;
      }
      &__publisher {
        font-size: 14px;

      }
      &__rate {
        margin-top: 4px;
        height: 32px;
        width: 200px;
        background-color: chocolate;
      }
      .btn-area {
        display: flex;
        margin-top: 60px;
      }
    }
  }

  .recollection-title {
    &__box {
      width:80%;
      margin-top: 30px;
      font-size: 26px;
      text-align: center;
    }
  }


  .recollection-area {
    width: 1040px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 60px;
    &__detail {
      border:  solid 1px #dcdcdc;
      border-radius: 40px;
      margin-bottom: 32px;
      padding: 20px;
      .top-box {
        display: flex;
        justify-content: center;
        padding: 10px 80px;
        .readed-day {
          text-align: center;
          font-size: 18px;
          font-weight: bold;
        }
        .note-title {
          text-align: center;
          margin-right: 20px;
          &__top {
            margin: 0 auto;
            margin-top:8px;
            margin-bottom: 8px;
          }
        }
      }
      .note {
        margin-top: 12px;
        text-align: center;
        .note-title {
          margin: 0 auto;
          margin-bottom: 12px;
        }
        &__box {
          width: 80%;
          padding: 20px;
          border: 1px solid gray;
          border-radius: 12px;
          margin: 0 auto;
          margin-bottom: 40px;
        }
      }
      .btn3 {
        height: 24px;
        width: 160px;
        background-color: $keyColor;
        text-align: center;
        line-height: 24px;
        margin: 0 auto;
        margin-top: 12px;
        a {
          color: lavender;
        }
      }
      

    }
    

  }
}

.btn {
  height: 24px;
  width: 50px;
  background-color: $keyColor;
  text-align: center;
  line-height: 24px;
  margin-right: 12px;
  a {
    color: lavender;
  }
}

.btn2 {
  height: 24px;
  width: 160px;
  background-color: $keyColor;
  text-align: center;
  line-height: 24px;
  a {
    color: lavender;
  }
}


