.pageTitle {
  text-align: center;
  font-size: 40px;
  padding: 28px;
}

.wrap-bookshow {
  .main_area {
    width: 730px;
    margin: 0 auto;
    display: flex;
    border:  solid 1px #dcdcdc;
    border-radius: 8px;
    padding: 32px;
    &__image {
      margin-right: 24px;
    }
    &__info {
      &__title {
        font-size: 34px;
      }
      &_author{
      }
      &__publisher {

      }
      &__rate {
        margin-top: 4px;
        height: 32px;
        width: 200px;
        background-color: chocolate;
      }
    }
  }
  .recollection-area {
    width: 730px;
    margin: 0 auto;
    margin-top: 40px;
    border:  solid 1px #dcdcdc;
    border-radius: 8px;
    padding: 36px;
    &__detail {
      border:  solid 1px #dcdcdc;
      border-radius: 8px;
      margin-bottom: 32px;
      padding: 24px;
      .readed_day {
        &__box {
          
        }

      }
      .note {
        margin-top: 12px;
        &__box {
        }
      }
      .phrase {
        margin-top: 12px;
        &__box {
        }
      }
    }
    

  }
}

.btn {
  height: 28px;
  width: 200px;
  background-color: $keyColor;
  text-align: center;
  line-height: 28px;
  margin-top: 8px;
  a {
    text-decoration: none;
    color: lavender;
  }
}

.btn {
  height: 28px;
  width: 200px;
  background-color: $keyColor;
  text-align: center;
  line-height: 28px;
  margin-top: 8px;
  a {
    text-decoration: none;
    color: lavender;
  }
}


