.pageTitle {
  text-align: center;
  font-size: 40px;
  padding: 28px;
}

.wrap {
  .main_area {
    width: 730px;
    margin: 0 auto;
    display: flex;
    border:  solid 1px #dcdcdc;
    border-radius: 8px;
    padding: 16px;
    &__image {
      margin-right: 24px;
      .img_box {
      }
    }
    &__info {
      &__title {
        font-size: 34px;
      }
      &_author{
      }
      &__publisher {

      }
      &__rate {
        margin-top: 4px;
        height: 32px;
        width: 200px;
        background-color: chocolate;
      }
    }
  }
}

.d-btn {
  height: 28px;
  width: 60px;
  background-color: $keyColor;
  text-align: center;
  line-height: 28px;
  margin-top: 8px;
  a {
    text-decoration: none;
    color: lavender;
  }
}


