.box {
  width: 480px;
  margin: 0 auto;
  margin-top: 32px;
  .box-header {
    text-align: center;
    font-size: 28px;
  }
  .box-form {
    .field {
      border: none;
      color: black;
      text-align: left;
      width: 300px;
      margin: 0 auto;
      padding-top: 20px;
      label{
        font-size: 20px;
      }
      &__box {
        width: 280px;
        height: 48px;
      }
    }
    .actions {
      text-align: center;
      padding-top: 20px;
      &__btn {
        width: 160px;
        height: 40px;
      }
    }
  }
}