.wrap {
  display: flex;
  .side-bar {
    width: 15%;
    height: 100vh;
    &__main {
      .user-menu{
        width: 80%;
        margin: 0 auto;
        font-weight: bold;
        &__list {
          margin-top: 20px;
          font-size: 12px;
        }
      }
    }
  }
  .user-info {
    width: 85%;
    height: 100vh;
    background-color: burlywood;
    &__main {

    }
  }
}

