.header
  .container
    .container__logo
      FAVBORITE BOOKS
    .container__search
      .container__search__box
        .container__search__box__text
          書籍名・著者名


    %ul.container__user-box
      %li.container__user-box__signup
      %li.container__user-box__login
    

      -# %li.head__in__nav__right__new
      -#   =link_to "新規登録", new_user_registration_path
      -# %li.head__in__nav__right__login
      -#   =link_to "ログイン", new_user_session_path